apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app-deployment
  namespace: roieharkavi-jenkins
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
      - name: my-app
        # כאן הכתובת המעודכנת עם ה-Account ID שלך
        image: 661659055102.dkr.ecr.us-east-1.amazonaws.com/roieharkavi-repo:latest
        ports:
        - containerPort: 80
        # הוספת מדיניות משיכה כדי ש-ArgoCD ימשוך את ה-Image גם אם השם לא השתנה
        imagePullPolicy: Always
