apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app-deployment
  namespace: roieharkavi-jenkins
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
      - name: my-app
        # כאן ArgoCD יעדכן את הגרסה אוטומטית
        image: <YOUR_ACCOUNT_ID>.dkr.ecr.us-east-1.amazonaws.com/roieharkavi-repo:latest
        ports:
        - containerPort: 8080
